node_modules/
.pnpm-store/

# Builds
dist/
build/
.out/
.next/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editors/OS
*.swp
*.swo
.DS_Store
.idea/
*.iml
.vscode/

# Move language artifacts
*/target/
*/Move.lock

# Package managers
package-lock.json
yarn.lock
